<h4 class="text-center">Form</h4>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" placeholder="name">
  </div>
  <div class="form-group mt-5">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="form-group form-check my-4">
    <input type="checkbox" class="form-check-input" id="active">
    <label class="form-check-label" for="active">Активен да/нет</label>
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" id="role">
      <option>User</option>
      <option>Editor</option>
      <option>Admin</option>
    </select>
  </div>
  <button class="btn btn-primary mt-5" type="submit">add</button>
</form>
